/* GLOBAL AND MOBILE STYLES FIRST */
/* GLOBAL STYLES */

body {
  margin:0;
  padding:0;
  background:maroon;
}
/* allow the page to auto arrange itr margin and set with 1000px   */
.wrapper {
	margin: 0px auto;
	width: 1000px;
	background-color: clear;
}

header {
  background: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;  /* easing in and out fading effect on the navigation bar*/
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    background: ; 
    padding: 20px;

}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
}
/* Can change the margins of the logo */
img {
	margin-left: 10;
	margin-right: 1900px;

}

.slider{
	overflow: hidden;
	height:500px;
	
}.slider figure div{
		width: 20%;
		float:left;
}
}.slider figure img{
		width: 20%;
		float:left;
}
.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 25s slider infinite;
}

@keyframes slider{
	0% {
		left: 0%;
	}
	10% {
		left: 0%;
	}
	12% {
		left: -100%;
	}
	22% {
		left: -100%;
	}
	24% {
		left: -200%;
	}
	34% { 
		left: -200%;
	}
	36% {
		left: -300%;
	}
	40% {
		left: -300%;
	}
	44% {
		left: -400%;
	}
	48$ {
		left: -400%; /* final frame from here goes backward */
	}
	58% { 
		left: -400%;
	}
	60% {
		left: -300%;
	}
	70% {
		left: -300%;
	}
	72% {
		left: -200%;
	}
	82% {
		left: -200%;
	}
	84% {
		left: -100%;
	}
	94% { 
		left: -100%;
	}
	96% {
		left: -0%;
	}
}
.container {
	position:absolute;
	top:50%;
	left:50%;
	tranform:translate(-50%, -50%);
}


/*
  - this applies to any screen sizes under 500px
  - if you leave the width off, sections will automatically fill the full page width
  - no margins and little or no padding
*/

/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
	body {
		background:white;
	}
		section {
		width: 44%
		display: inline-block;
	}
  /* 

    - applies to screens larger than 499px (unless specifically overwritten these styles will also apply to screens larger than 999px)
    - add any hover states here
    - increase font sizes
    - add margins and padding to space things out
    - decrease width of sections
    - add `display: inline-block;` so that sections will float next to each other
  */
}








/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
	body {
		background:grey;
	}
	section{
		width: 22%
	}
  /*
    - applies to screens larger than 999px only
    - add a max-width to your main section
    - further decrease size of sections
    - increase size of headings and global fonts
  */
}
/* END SECOND BREAKPOINT */
